#heading {
    background-color: rgb(100, 125, 135);
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    background-color: rgb(170, 170, 170);
}

input {
    width: 60px;
    margin: 5px;
    text-align: center;
}

button {
    padding: 8px 16px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#counter {
    color: blue;
    font-size: xx-large;
}

#cntbtn {
    background-color: yellow;
}

#tasbih-count {
    color: blue;
}

.orange-text {
    color: orange;
}

.green-text {
    color: green;
}
